.loginsignup-login span{
  color: #ff4141;
  font-weight: 600;
}
.loginsignup-agree{
  display: flex;
  align-items: center;
  margin-top: 25px;
  gap: 20px;
  color: #5c5c5c;
  font-size: 18px;
  font-weight: 500;
}